@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Druk Wide";
  src: url(../Fonts/DrukWide.otf);
}
@font-face {
  font-family: "TT Travels";
  src: url(../Fonts/TTTravels-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Travels";
  src: url(../Fonts/TTTravels-Italic.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "TT Travels";
  src: url(../Fonts/TTTravels-BoldItalic.ttf);
  font-weight: 900;
}
.one {
  background-color: black;
  background-image: url(/Scss/Images/Group74.png);
  background-repeat: no-repeat;
  max-height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3%;
}

.one-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
  background-color: #000000;
  margin-top: 2%;
  background: none;
}

.one-nav a {
  font-family: "Druk Wide";
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 80%;
  /* or 11px */
  letter-spacing: -0.055em;
  color: #FFFFFF;
}

@media (max-width: 740px) {
  .one-nav a {
    font-size: 12px;
  }
  .one-nav {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .one-nav {
    width: 95%;
  }
  .one-nav a {
    font-size: 10px;
  }
  .logo {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .one-nav a {
    font-size: 5px;
  }
  .one-nav {
    width: 98%;
  }
}
.one-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 4%;
}

.one-elem {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 80%;
  /* or 19px */
  text-align: center;
  letter-spacing: -0.055em;
  color: #FFFFFF;
  margin: 2%;
}

.one-head {
  width: 70%;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 90%;
  /* or 77px */
  text-align: center;
  letter-spacing: -0.055em;
  color: #FFFFFF;
}

.one-bottom {
  margin-bottom: 5%;
  margin-top: 3%;
  max-width: 530px;
  position: relative;
}

.complex {
  background: linear-gradient(262.16deg, #A9D137 43.95%, #43D137 92.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forma {
  background: #252525;
  border-radius: 33.5px;
  min-width: 346px;
  min-height: 67px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 80%;
  /* or 14px */
  letter-spacing: -0.055em;
  color: #FFFFFF;
  border: none;
  padding-left: 40px;
}

.button {
  background: linear-gradient(262.16deg, #A9D137 43.95%, #43D137 92.62%);
  border-radius: 33.5px;
  min-width: 280px;
  min-height: 67px;
  position: absolute;
  top: 0px;
  right: -120px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80%;
  /* or 14px */
  text-align: center;
  letter-spacing: -0.035em;
  color: #000000;
}

@media (max-width: 800px) {
  .one-head {
    font-size: 30px;
  }
  .one-bottom {
    margin-right: 13%;
  }
  .one-elem {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .button {
    min-width: 0;
    min-height: 0;
    padding: 8%;
    right: -120px;
  }
  .forma {
    min-width: 250px;
    min-height: 50px;
    padding-left: 20px;
  }
}
@media (max-width: 460px) {
  .button {
    padding: 8%;
    right: -80px;
    font-size: 14px;
  }
  .forma {
    padding-left: 20px;
  }
}
@media (max-width: 370px) {
  .forma {
    font-size: 14px;
  }
  .button {
    right: -50px;
  }
}
.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1D1D1D;
}

.two-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 21px 1fr 50px;
  grid-template-rows: 208px 1fr 208px 208px 1fr 208px;
  grid-gap: 21px 0px;
}

.two-image1 {
  position: relative;
  grid-row: 1/2;
  grid-column: 2/3;
}

.rabbit {
  position: absolute;
  top: -400px;
  left: -100px;
}

.two-image2 {
  grid-row: 2/4;
  grid-column: 4/5;
  position: relative;
}

.bottle {
  position: absolute;
  left: -13px;
  z-index: 5;
}

.two-image3 {
  grid-row: 3/4;
  grid-column: 2/3;
  position: relative;
}

.sneaker {
  position: absolute;
  bottom: -350px;
  right: -150px;
}

.two-image4 {
  grid-row: 4/5;
  grid-column: 4/5;
  position: relative;
}

.nuts {
  position: absolute;
  left: -390px;
  top: 170px;
}

@media (max-width: 1290px) {
  .two-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15%;
  }
  .rabbit {
    top: -330px;
    left: -200px;
  }
  .bottle {
    display: none;
  }
  .sneaker {
    bottom: -30px;
    right: -165px;
  }
}
@media (max-width: 950px) {
  .two-image1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two-image2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two-image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two-image4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two-image1 img {
    width: 70%;
  }
  .two-image2 img {
    width: 70%;
  }
  .two-image3 img {
    width: 70%;
  }
  .two-image4 img {
    width: 70%;
  }
  .rabbit {
    left: 10px;
    top: -150px;
  }
  .bottle {
    left: 87px;
    top: 16px;
  }
  .sneaker {
    bottom: 120px;
    right: 50px;
  }
  .nuts {
    left: 30px;
  }
}
@media (max-width: 560px) {
  .rabbit {
    top: -100px;
  }
  .nuts {
    top: 100px;
  }
}
@media (max-width: 520px) {
  .rabbit {
    top: -50px;
  }
  .sneaker {
    bottom: 40px;
  }
}
.three {
  background-color: rgb(18, 18, 18);
  background-image: url(/Scss/Images/back.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  min-height: 1350px;
  padding: 15%;
  position: relative;
}

.three-main {
  width: 100%;
  min-height: 476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three-head {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 80%;
  /* or 77px */
  text-align: center;
  letter-spacing: -0.055em;
  color: #FFFFFF;
}

.three-text {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  /* or 28px */
  text-align: center;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  max-width: 802px;
  margin: auto;
}

.three-button {
  background: linear-gradient(262.16deg, #A9D137 43.95%, #43D137 92.62%);
  border-radius: 33.5px;
  min-width: 293px;
  min-height: 57px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 80%;
  /* or 14px */
  text-align: center;
  letter-spacing: -0.035em;
  color: #000000;
}

@media (max-width: 1040px) {
  .three-head {
    font-size: 70px;
  }
  .three-text {
    font-size: 14px;
  }
  .three-main {
    min-height: 380px;
  }
}
@media (max-width: 770px) {
  .three {
    min-height: 500px;
    background-position: center;
  }
  .three-head {
    font-size: 50px;
  }
  .three-text {
    font-size: 12px;
  }
  .three-main {
    min-height: 300px;
  }
}
@media (max-width: 550px) {
  .three {
    min-height: 300px;
  }
  .three-head {
    font-size: 30px;
    width: 100%;
  }
  .three-text {
    width: 100%;
    font-size: 10px;
  }
  .three-main {
    min-height: 250px;
  }
  .three-button {
    min-width: 0;
    min-height: 0;
    padding: 5%;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .three {
    min-height: 200px;
  }
  .three-head {
    font-size: 20px;
  }
  .three-text {
    font-size: 8px;
  }
  .three-main {
    min-height: 200px;
  }
}
.four {
  padding: 110px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: #121212;
}
.four__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90vw;
  max-width: 1320px;
}
.four__block {
  width: 49%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-size: cover;
}
.four__block1 {
  margin-top: 126px;
  background-image: url(/Scss/Images/four-first-bg.png);
  background-position: center;
  padding-bottom: 300px;
  color: #000;
}
.four__block2 {
  background-image: url(/Scss/Images/four-second-bg.png);
  background-position: center;
  padding-bottom: 130px;
  color: #FFF;
}
.four__glass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  width: 80%;
  height: auto;
  padding: 80px 40px;
  margin-top: -90px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -1px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-family: TT Travels;
}
.four__number {
  font-size: 96px;
  font-weight: 900;
  line-height: 80%;
  letter-spacing: -0.055em;
  color: rgba(0, 0, 0, 0);
  margin-left: 10%;
}
.four__number1 {
  -webkit-text-stroke: 1px black;
}
.four__number2 {
  -webkit-text-stroke: 1px white;
}
.four__head {
  font-size: 96px;
  font-weight: 800;
  line-height: 75%;
  letter-spacing: -0.055em;
}
.four ul {
  width: 100%;
  height: auto;
  margin-top: 3vw;
}
.four li {
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: -0.005em;
  margin-top: 0.5vw;
}

@media (max-width: 1212px) {
  .four__glass {
    margin-top: -6vw;
    padding: 5vw 2.5vw;
  }
  .four__block1 {
    margin-top: 10vw;
    padding-bottom: 25vw;
  }
  .four__block2 {
    padding-bottom: 11vw;
  }
  .four__number {
    font-size: 6vw;
  }
  .four__head {
    font-size: 6vw;
  }
  .four li {
    font-size: 1.15vw;
  }
}
@media (max-width: 860px) {
  .four__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .four__block {
    width: 80vw;
  }
  .four__block1 {
    margin-top: 0;
  }
  .four__block2 {
    margin-top: 20vw;
  }
  .four__glass {
    margin-top: -12vw;
    padding: 10vw 5vw;
  }
  .four__number {
    font-size: 12vw;
  }
  .four__head {
    font-size: 12vw;
  }
  .four li {
    font-size: 2.3vw;
  }
}
.footer {
  background-color: #1D1D1D;
  background-image: url(/Scss/Images/yud.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
}

.tabbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  text-decoration: none;
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 80%;
  height: 100%;
  /* or 11px */
  letter-spacing: -0.055em;
  color: #7D7D7D;
}

.modal {
  display: none;
  position: fixed;
  background-color: #121212;
  max-width: 1300px;
  width: 60%;
  top: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 3%;
}

.modal.is-active {
  display: block;
}

.modal-close {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  right: 25px;
  top: 15px;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal-head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 105%;
  /* identical to box height, or 57px */
  color: #FFFFFF;
}

.modal-text {
  font-family: "PF Bague Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  color: rgba(255, 255, 255, 0.4);
  margin-top: 2%;
  max-width: 500px;
}

.reviews {
  background-color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-top {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-head {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  line-height: 80%;
  /* identical to box height, or 77px */
  text-align: center;
  letter-spacing: -0.055em;
  color: #FFFFFF;
}

.vector {
  margin-top: -30%;
}

.reviews-main {
  background-image: url(/Scss/Images/reviewsBG.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -16%;
}

@media (max-width: 1580px) {
  .reviews-head {
    font-size: 80px;
    margin-bottom: 10%;
  }
  .vector {
    width: 80%;
  }
}
@media (max-width: 1240px) {
  .modal-image {
    width: 80%;
    margin-left: 15%;
  }
  .modal-head {
    font-size: 25px;
  }
  .modal-text {
    font-size: 14px;
  }
  .modal {
    width: 80%;
  }
}
@media (max-width: 520px) {
  .modal {
    width: 90%;
  }
  .modal-text {
    font-size: 10px;
  }
  .modal-close {
    width: 60%;
  }
  .reviews-main {
    min-height: 890px;
  }
  .reviews-head {
    font-size: 40px;
    margin-top: 35%;
  }
  .vector {
    width: 40%;
    margin-top: -20%;
    margin-left: 15%;
  }
  .reviews-top {
    margin-top: -25%;
  }
}
@media (max-width: 370px) {
  .reviews-main {
    min-height: 0;
    padding: 5%;
  }
  .reviews-head {
    font-size: 25px;
  }
  .modal-text {
    font-size: 8px;
  }
  .modal-head {
    font-size: 18px;
  }
  .modal-close {
    right: 15px;
    top: 10px;
  }
}
@media (max-width: 1220px) {
  .main-top img {
    width: 40%;
  }
  .main-bottom img {
    width: 40%;
  }
  .main-top {
    margin-left: 15%;
  }
  .main-bottom {
    margin-left: 15%;
  }
  .reviews-main {
    margin-top: 2%;
  }
}
.about {
  background-color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-wrapper {
  background-color: #FFFFFF;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  /* identical to box height, or 28px */
  letter-spacing: -0.005em;
  color: #4A4A4A;
}

.about-head {
  font-family: "TT Travels";
  font-style: BoldItalic;
  font-weight: 900;
  font-size: 144px;
  line-height: 80%;
  /* or 115px */
  letter-spacing: -0.055em;
  color: #AAD554;
  text-transform: uppercase;
}

.about-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1700px) {
  .about-head {
    font-size: 100px;
  }
  .about-right img {
    width: 15vw;
  }
  .about-text {
    font-size: 15px;
  }
}
@media (max-width: 1430px) {
  .about-top {
    width: 40%;
  }
  .about-top p {
    font-size: 15px;
  }
  .about-head {
    font-size: 70px;
  }
  .sign {
    width: 15vw;
  }
}
@media (max-width: 1030px) {
  .tabbar {
    width: 90%;
  }
}
@media (max-width: 930px) {
  .about-text {
    font-size: 13px;
  }
  .about-head {
    font-size: 50px;
  }
  .about-text {
    width: 80%;
  }
}
@media (max-width: 730px) {
  .about-head {
    font-size: 30px;
  }
  .about-text {
    font-size: 12px;
  }
  .about-top p {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .about-top {
    width: 50%;
  }
  .tabbar {
    font-size: 12px;
    width: 97%;
  }
}
@media (max-width: 450px) {
  .about-top {
    width: 80%;
  }
  .tabbar {
    font-size: 10px;
  }
}
.about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70%;
}

.about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
}

.about-text {
  font-family: "TT Travels";
  font-style: italic;
  font-weight: 400;
  line-height: 154%;
  /* or 28px */
  letter-spacing: -0.005em;
  color: #4A4A4A;
  margin-top: 2%;
}

@media (max-width: 540px) {
  .about-text {
    font-size: 10px;
    width: 90%;
  }
  .about-head {
    font-size: 20px;
  }
  .about-right img {
    width: 60%;
    margin-left: 30%;
  }
  .about-top {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .about-text {
    font-size: 8px;
    width: 100%;
  }
  .about-top p {
    font-size: 8px;
  }
}
.sign {
  width: 30%;
  height: 50%;
  margin-top: -3%;
}

.projects {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-wrapper {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1920px;
}

.projects-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 5%;
}

.projects-card {
  background-color: #1C1C1C;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 400px) {
  .projects-card {
    padding: 5%;
    width: 90%;
  }
  .projects-card img {
    width: 80%;
  }
}
.card-top {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 80%;
  /* or 14px */
  letter-spacing: -0.055em;
  color: #FFFFFF;
}

.card-year {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 80%;
  /* or 19px */
  letter-spacing: -0.055em;
  color: #FFFFFF;
}

.card-name {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 80%;
  /* identical to box height, or 29px */
  letter-spacing: -0.055em;
  color: #FFFFFF;
  margin-top: 5%;
}

.card-bottom {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 80%;
  /* or 11px */
  letter-spacing: -0.055em;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 5%;
}

@media (max-width: 1440px) {
  .projects-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-card {
    margin-top: 5%;
  }
  .projects-wrapper {
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .projects-top img {
    width: 80%;
    margin-left: 10%;
  }
}
.contacts {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

.contacts-main {
  background: #2E2B2C;
  -webkit-box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 2%;
  max-width: 800px;
  min-height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 20%;
  top: 30%;
}

.contacts-head {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contacts-title {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
}

.contacts-text {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
}

.contacts-button {
  background: linear-gradient(262.16deg, #A9D137 43.95%, #43D137 92.62%);
  border-radius: 10px;
  color: black;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  padding: 2%;
}

.contacts-map {
  width: 100%;
}

@media (max-width: 1660px) {
  .contacts-main {
    top: 20%;
  }
}
@media (max-width: 1120px) {
  .contacts-main {
    top: 10%;
  }
}
@media (max-width: 850px) {
  .contacts-main {
    left: 10%;
    min-height: 280px;
    top: 5%;
  }
}
@media (max-width: 630px) {
  .contacts-main {
    min-height: 180px;
    left: 5%;
  }
  .contacts-head {
    font-size: 18px;
  }
  .contacts-title {
    font-size: 10px;
  }
  .contacts-text {
    font-size: 14px;
  }
}
@media (max-width: 490px) {
  .contacts-main {
    min-height: 100px;
    top: 2%;
  }
  .contacts-head {
    font-size: 14px;
  }
  .contacts-title {
    font-size: 8px;
  }
  .contacts-text {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .contacts-main {
    top: 1%;
    left: 2%;
  }
}
@media (max-width: 330px) {
  .contacts-main {
    top: 0.5%;
    left: 1%;
  }
}
.product {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-main {
  background-color: #1D1D1D;
  max-width: 1170px;
  min-height: 2000px;
  padding: 5%;
  margin-top: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-first p {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
  /* or 45px */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.product-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 105%;
  /* identical to box height, or 57px */
  color: #FFFFFF;
}

.product-text {
  font-family: "PF Bague Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  color: rgba(255, 255, 255, 0.4);
  margin-top: 3%;
}

.product-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-right2 {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1160px) {
  .product-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .product-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .product-third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .product-fourth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .product-first p {
    text-align: center;
  }
  .product-second img {
    width: 70%;
    margin: auto;
  }
  .product-flag img {
    width: 70%;
    margin-left: 15%;
  }
}
@media (max-width: 570px) {
  .product-first p {
    font-size: 16px;
  }
  .product-main {
    width: 80%;
  }
  .product-flag {
    width: 90%;
  }
  .product-head {
    font-size: 30px;
    text-align: center;
  }
  .product-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-text {
    font-size: 14px;
    text-align: center;
    width: 200%;
  }
  .product-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
  .product-right img {
    width: 80%;
  }
  .product-left2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
  .product-left2 img {
    width: 80%;
  }
  .product-right2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
  .product-first img {
    width: 80%;
  }
}